exported-workflows
[{"createdAt":"2025-06-21T18:28:31.295Z","updatedAt":"2025-06-23T10:33:06.000Z","id":"5Wx7HZ3KXWu2qR0t","name":"email responder","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,0],"id":"c026c829-916c-46b7-be5c-55f1891508b5","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"BKD6xLAR14kR4MUI","name":"Gmail account"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Order Confirmation","description":"Sent when a customer places an order. It confirms that the transaction was successful and includes order details like product, price, and shipping info."},{"category":"Promotional","description":"Marketing emails from companies promoting sales, offers, new arrivals, or special deals."},{"category":"Professional/Work Email","description":"Formal communications from colleagues, clients, or companies regarding meetings, projects, or updates."},{"category":"Description:","description":"Alerts from platforms about account activity, transactions, updates, or warnings."},{"category":"Spam/Scam","description":"Unwanted, deceptive, or malicious emails that often try to trick users into revealing sensitive information."},{"category":"Service & Subscription","description":"Emails from platforms or services you're subscribed to — including renewal notices, feature updates, or billing alerts."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[220,0],"id":"5d0db298-25c4-42a1-8ebe-90d708016c1b","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[180,180],"id":"dc6a7998-3612-4153-9343-a2a57ed1077b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"KAiWagcaTg1yIxEm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=you are an assistant of Nouman Syed \nyour job is to respond to the email below     \n\nFirst Acknowledge the email,\nThank you for confirming my order #[Order Number]. I’ve reviewed the details and everything looks accurate. Kindly share the expected delivery timeline and any tracking information once available. If there are any changes, such as stock updates or shipping delays, please notify me in advance. I’m looking forward to receiving the product and appreciate your prompt service. Should you require any additional details or documentation to complete the processing, feel free to contact me. Thanks again for the confirmation, and I look forward to doing business with you.                                                       I want you to respond in two parts ,email subject and email body.                 \nThe email to respond to is : {{ $('Gmail Trigger').item.json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,-380],"id":"1496090e-ea34-4d6a-b9c2-a48ff0432a66","name":"OpenAI","credentials":{"openAiApi":{"id":"KAiWagcaTg1yIxEm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=you are an assistant of Nouman Syed \nyour job is to respond to the email below     \n\nFirst Acknowledge the email,\nThank you for sharing your latest offers and promotions. I appreciate staying updated about new product launches and exclusive discounts. If possible, kindly tailor future updates to match my preferences or purchase history for more relevant content. Should I wish to explore these offers, I will visit your site accordingly. If I no longer wish to receive promotional messages, I will opt out through the unsubscribe link provided. I appreciate your efforts in keeping me informed and look forward to any deals that align with my interests in the future.\nI want you to respond in two parts ,email subject and email body.\nThe email to respond to is : {{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,-220],"id":"d7740581-7e2e-489a-b50c-d5c2bb72d93b","name":"OpenAI1","credentials":{"openAiApi":{"id":"KAiWagcaTg1yIxEm","name":"OpenAi account"}}},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.email_subject }}","message":"={{ $json.message.content.email_body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,-380],"id":"41504472-fcd1-48c5-a977-ef006a2121ee","name":"Gmail","webhookId":"1785474a-f310-4b61-ac02-f9ef940af6a2","credentials":{"gmailOAuth2":{"id":"BKD6xLAR14kR4MUI","name":"Gmail account"}}},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.email_subject }}","message":"={{ $json.message.content.email_body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,-220],"id":"d1a6b1ef-21c6-4fad-8991-4e8d48fb8708","name":"Gmail1","webhookId":"186c90df-e4ef-4e38-bf49-c1f153d4cec0","credentials":{"gmailOAuth2":{"id":"BKD6xLAR14kR4MUI","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=you are an assistant of Nouman Syed \nyour job is to respond to the email below     \n\n\n\nThank you for your email and the update regarding [Project/Task/Meeting]. I’ve noted the details and will take the necessary action as outlined. Please feel free to share any additional files, deadlines, or context that may assist in progressing this matter effectively. If a follow-up meeting or clarification is needed, I’m happy to coordinate accordingly. I appreciate your clear communication and collaborative approach. Looking forward to working with you and contributing positively to the outcome of this task. Let me know if there’s anything else I can support you with at this stage.\n\nFirst Acknowledge the email,\nI want you to respond in two parts ,email subject and email body.\n\nThe email to respond to is :{{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,-60],"id":"455d2941-ba16-482f-86cf-e61bebab92c8","name":"OpenAI2","credentials":{"openAiApi":{"id":"KAiWagcaTg1yIxEm","name":"OpenAi account"}}},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.email_subject }}","message":"={{ $json.message.content.email_body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,-60],"id":"2fe7cacc-348e-4d6d-8519-4f677f6b5e09","name":"Gmail2","webhookId":"802ede03-9bf1-4c33-9a78-831ecee5a534","credentials":{"gmailOAuth2":{"id":"BKD6xLAR14kR4MUI","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=you are an assistant of Nouman Syed \nyour job is to respond to the email below     \n\nFirst Acknowledge the email,\n\nThank you for the notification. I’ve taken note of the update regarding [Account/Activity/Alert], and I will act on it if needed. It’s helpful to receive timely updates to stay informed about my account status, recent changes, or system alerts. If this action was not initiated by me, I’ll take appropriate steps to review or secure my account. Please continue to keep me updated about important changes. For further clarification or if the alert requires action from your end, I’d appreciate your guidance on the next steps.\n\nI want you to respond in two parts ,email subject and email body.\nThe email to respond to is :  {{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,100],"id":"2d8c8f7a-bbc3-4359-9e14-4dff1fbba80f","name":"OpenAI3","credentials":{"openAiApi":{"id":"KAiWagcaTg1yIxEm","name":"OpenAi account"}}},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.email_subject }}","message":"={{ $json.message.content.email_body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,100],"id":"a5af6dda-30d5-435c-8f08-4c5c89ac5ef1","name":"Gmail3","webhookId":"ed6191ba-501c-4e72-97eb-cb48a64e81a4","credentials":{"gmailOAuth2":{"id":"BKD6xLAR14kR4MUI","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=you are an assistant of Nouman Syed \nyour job is to respond to the email below     \n\nFirst Acknowledge the email,\n\nThis email appears to be suspicious and potentially harmful. It contains language, links, or offers that suggest phishing or fraud, such as unexpected prizes or urgent requests for personal information. I do not recognize the sender and have not subscribed to such content. I will mark this email as spam and report it to my email provider for further review. If this was mistakenly flagged and you represent a legitimate sender, please provide verified contact details and identify the purpose of your communication clearly and professionally.\n\nI want you to respond in two parts ,email subject and email body.\nThe email to respond to is :  {{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,260],"id":"358593ba-eb8b-4114-a020-a2fb133fbeca","name":"OpenAI4","credentials":{"openAiApi":{"id":"KAiWagcaTg1yIxEm","name":"OpenAi account"}}},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.email_subject }}","message":"={{ $json.message.content.email_body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,260],"id":"bd77ec3e-3d48-473e-bda1-5c1c949b8df4","name":"Gmail4","webhookId":"5200c3ac-5b14-41da-ab2c-2b28efdb0e25","credentials":{"gmailOAuth2":{"id":"BKD6xLAR14kR4MUI","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=you are an assistant of Nouman Syed \nyour job is to respond to the email below     \n\nFirst Acknowledge the email,\n\nThank you for the update regarding my subscription/service. I’ve reviewed the content and appreciate being informed about upcoming renewals, billing changes, or new features. If any action is required from my end — such as payment updates or plan changes — please let me know. I value transparent communication and timely updates to ensure uninterrupted access to your services. Kindly continue to notify me of any important changes, and feel free to share new offerings or service improvements that might enhance my experience going forward.\n\n\n\nI want you to respond in two parts ,email subject and email body.\nThe email to respond to is : \n {{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,460],"id":"6aa313da-48c7-43dd-9ed7-2fabe817390f","name":"OpenAI5","credentials":{"openAiApi":{"id":"KAiWagcaTg1yIxEm","name":"OpenAi account"}}},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.email_subject }}","message":"={{ $json.message.content.email_body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,460],"id":"4d31d660-e311-4d1a-8c09-0389669c7909","name":"Gmail5","webhookId":"d87711b8-a2a4-474e-8512-3f3d7e5bd8f2","credentials":{"gmailOAuth2":{"id":"BKD6xLAR14kR4MUI","name":"Gmail account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"OpenAI1","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}],[{"node":"OpenAI3","type":"main","index":0}],[{"node":"OpenAI4","type":"main","index":0}],[{"node":"OpenAI5","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Gmail3","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Gmail4","type":"main","index":0}]]},"OpenAI5":{"main":[[{"node":"Gmail5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750674224,"possibleDuplicates":["1979c50e4a9d08e3"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b887ca22-9de0-46b0-839b-4d0fd18cc317","triggerCount":1,"tags":[]}]